html, body{padding:0px !important;margin:0px !important;}

body{background:#ffffff url(./backgroundMain.gif) top left repeat-x;font:normal .75em/1.5em Helvetica, Arial, Verdana, sans-serif;}
	
.frame{margin:0 15px;padding:0px;min-width:800px;}

.main{background:#ffffff;padding:3px;border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;border-top:0px;-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px;overflow:hidden;}

.content{background:#ffffff;padding:16px 10px 20px 15px;overflow:hidden;}
.contentTitle{background:#ffffff url(./backgroundMini.gif) top left repeat-x;height:3em;position:relative;border-bottom:1px solid #e0e0e0;z-index:1000;}
.contentTitleText{margin:6px;font-size:large;color:rgb(0,0,160);font-weight:bold;}

.header{background:transparent url(./bannerLeft.gif) bottom left no-repeat;color:#5b3feb;height:47px;padding:0px;text-align:right;}
.headerInner{height:47px;background:transparent url(./bannerRight.gif) bottom right no-repeat;}
.headerInnerTitle{position:relative;float:right;right:30px;color:#444444;font:normal 1.8em/1.7em Helvetica, Arial, Verdana, sans-serif;letter-spacing:0;}

.messageBox{padding:10px;border:1px solid #dedfe1;margin:0px 0px 10px 0px;font-size:1.10em;}

.naviButton{display:inline-block;padding:4px;margin:4px;background-color:#f0f4f9;border:1px solid #c0c0c0;-moz-border-radius:4px;-webkit-border-radius:4px;}
.naviButton:hover{background-color:#ffe96c}

.textLarge{font-size:large;}
.textXLarge{font-size:x-large;}
.textXXLarge{font-size:xx-large;}

.titleNormal{color:rgb(0,0,160);font-weight:bold;}
.titleLarge{font-size:large;color:rgb(0,0,160);font-weight:bold;}
.titleXLarge{font-size:x-large;color:rgb(0,0,160);font-weight:bold;}
.titleXXLarge{font-size:xx-large;color:rgb(0,0,160);font-weight:bold;}

.remarkNormal{color:rgb(255,0,0);font-weight:bold;}
.remarkLarge{font-size:large;color:rgb(255,0,0);font-weight:bold;}
.remarkXLarge{font-size:x-large;color:rgb(255,0,0);font-weight:bold;}
.remarkXXLarge{font-size:xx-large;color:rgb(255,0,0);font-weight:bold;}

